.chart {
    position: absolute;
    /*outline: 3px solid black;*/
    height: 500px;
    width: 100%;
    left: 0;
    right: 0;
    top: 800px;
    /*transform: translate(-50%, -50%);*/
}

    .chart#myChart {
        position: inherit;
        display: block;
        height: 100%;
        width: 100%;
    }
