<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Codvi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: #171a1d; -webkit-box-shadow: 0px 8px 11px 0px rgba(156,156,156,1);
                                                                                                                                 -moz-box-shadow: 0px 8px 11px 0px rgba(156,156,156,1);
                                                                                                                                 box-shadow: 0px 8px 11px 0px rgba(156,156,156,1); padding: -10px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 30px; color: #1c7430; text-shadow: black 1px 1px 0, black 2px 2px 0, 
                                                                                                                                                    black 3px 3px 0, black 4px 4px 0, 
                                                                                                                                                    black 5px 5px 0;">Codvi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-link">
                            <a class="nav-justified text-white" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-justified text-white" asp-area="" asp-controller="Home" asp-action="Index">Таблица(нету)</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-justified text-white" href="https://ria.ru/category_koronavirus-v-rossii/">Новости</a>
                        </li>
                        @* <li class="nav-link"> *@
                        @*     <a class="nav-justified text-white" asp-area="" asp-controller="Regions" asp-action="Index">Regions(удалить перед релизом)</a> *@
                        @* </li> *@

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js">
</script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
