<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <title>@ViewData["Title"] - Codvi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: #171a1d; box-shadow: black 0 3px 2px; z-index: 999999">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: mediumseagreen; text-shadow: black 2px 2px 2px; font-size: 30px;">Codvi</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="font-size: 130%; font-family: Roboto; top: 10%; position: inherit;">
                        <li class="nav-link">
                            <a class="nav-justified text-white" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-justified text-white" asp-area="" asp-controller="Table" asp-action="Index">Таблица</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-justified text-white" href="https://ria.ru/category_koronavirus-v-rossii/">Новости</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-justified text-white" href="https://ria.ru/category_koronavirus-v-rossii/">Рекомендации</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-justified text-white" asp-area="" asp-controller="Regions" asp-action="Index">Regions(удалить перед релизом)</a>
                        </li>
                        @*<li class="nav-link">
                                <a class="nav-justified text-white" asp-area="" asp-controller="DbChange" asp-action="Index">DbChange</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>