@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a href="mailto:contact.codvi@mail.ru" target="_blank">contact.codvi@mail.ru</a>
    <a> - Почта по всем вопросам и предложениям.</a>
</p>
