@model JsonStatsModel

@{
    ViewData["Title"] = "Главная";
}


<link rel="stylesheet" href="~/css/style.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js">
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>

<div id="info"></div>
<script src="~/js/info.js">
</script>
<script src="~/js/zoomDragndrop.js">
</script>

<div class="container">
    <div class="row">
        <h2 style="width: 100%; margin-top:40px; margin-bottom:20px; text-align: center; font-size: 30px; color: black; font-family: Roboto;">Интерактивная карта распространения Covid-19 в России</h2>
    </div>

    <div class="row">
        <div id="svgContainer">
            <div id="mapButtonsBlock">
                    <img id="zoomPlus" class="mapButton" src="~/images/outline_add_white_18dp.png" title="Увеличить масштаб" />
                    <button id="returnMapButton" class="mapButton" title="Вернуть карту в исходное положение">
                        <img style="width: 15px; height: 15px; text-align:center" src="~/images/baseline_fiber_manual_record_white_18dp.png" />
                    </button>
                    <img id="zoomMinus" class="mapButton" src="~/images/outline_remove_white_18dp.png" title="Уменьшить масштаб" />
            </div>

            <div id="map">
                @Html.Partial("~/Views/Home/Map.cshtml")
            </div>
        </div>

        <button onclick="setRussiaId()" type="button" class="btn btn-light" id="button_russia">Общая статистика</button>

    </div>

    <div class="row">
        <div class="chart">
            <div class="row" style="top: 50px;">
                <div class="col-xl-8 col-lg-6 col-md-4 col-sm-4"></div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                    <select onchange="setStats()" class="form-control" id="statsType">
                        <option value="total">Всего случаев</option>
                        <option value="new">Новые случаи</option>
                    </select>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                    <select onclick="setStats()" class="form-control" id="statsTime">
                        <option value="all_time">За все время</option>
                        <option value="last_month">За последний месяц</option>
                    </select>
                </div>
            </div>
            <canvas id="myChart"></canvas>
            <script src="~/js/chart.js">
            </script>
        </div>
    </div>
</div>

    <script>
        receiveJsonData(@Html.Raw(Model.JsonString));
    </script>
