
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index">
    <button name="Action" type="submit" value="@StartPageAction.InsertNewDays">Insert new dates</button>
    @*<button name="Action" type="submit" value="@StartPageAction.Init">Init data</button>*@
    <button name="Action" type="submit" value="@StartPageAction.Update">Update info</button>
</form>