
@{
    ViewData["Title"] = "Success";
}

<h1>Success: @ViewData["Action"]</h1>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>
<div class="row bg-success">|</div>