@font-face {
    font-family: Roboto;
    src: url('//fonts.googleapis.com/css?family=Roboto:400,700');
}
.chart {
    position: absolute;
    outline: hidden;
    height: 700px;
    width: 100%;
    left: 0;
    right: 0;
    top: 950px;
}

.chart#myChart {
    outline: hidden;
    position: inherit;
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

.stats-type-select {
    position: absolute;
    right: 1%;
    top: 0;
    border-radius: 10px;
    font-family: Roboto;
}
#statsType {
    background-color: #4e555b;
    color: white;
    font-size: 20px;
    border: solid black 2px;
    font-family: Roboto;
}