@font-face {
    font-family: Roboto;
    src: url('//fonts.googleapis.com/css?family=Roboto:400,700');
}

.chart {
    outline: hidden;
    height: 550px;
    width: 100%;
    margin-bottom: 100px;
}

    .chart#myChart {
        outline: hidden;
        position: inherit;
        display: block;
        height: 100%;
        width: 100%;
        font-family: 'Roboto';
    }

#statsType {
    background-color: mediumseagreen;
    color: white;
    font-size: 130%;
    border: solid black 1px;
    font-family: Roboto;
    cursor: pointer;
}

#statsTime {
    background-color: mediumseagreen;
    color: white;
    font-size: 130%;
    border: solid black 1px;
    font-family: Roboto;
    cursor: pointer;
}
