@font-face {
    font-family: Roboto;
    src: url('//fonts.googleapis.com/css?family=Roboto:400,700');
}

#svgContainer {
    background-color: white;
    position: absolute;
    overflow: hidden;
    outline: 3px solid black;
    height: 700px;
    width: 1500px;
    left: 50%;
    top: 520px;
    transform: translate(-50%, -50%);
    -webkit-transition: background-color 0.5s;
}

    #svgContainer:hover {
        background-color: #e2e3e5;
        -webkit-transition: background-color 0.5s;
    }


#map {
    display: block;
    position: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(1.8) scaleY(1.4);
}

#info {
    position: absolute;
    height: auto;
    width: auto;
    font-family: 'Roboto';
    font-size: 25px;
    color: aliceblue;
    display: none;
    z-index: 999999;
    outline: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

#map path {
    position: inherit;
    fill: #333333;
    stroke: green;
    stroke-width: .3px;
    -webkit-transition: fill 0.2s;
}


    #map path:hover {
        fill: green;
        -webkit-transition: fill 0.2s;
    }

#button_russia {
    background-color: mediumseagreen;
    color: white;
    border: solid black 1px;
    z-index: 99990;
    position: absolute;
    left: 1%;
    bottom: 2%;
    font-size: 130%;
    font-family: Roboto;
}

#zoomPlus {
    cursor: pointer;
    background-color: mediumseagreen;
    border: solid black 1px;
    border-radius: 5px;
    position: absolute;
    top: 1%;
    left: 0.5%;
    z-index: 999999;
    outline: none;
    height: 35px;
    width: 35px;
}

    #zoomPlus:active {
        height: 36px;
        width: 36px;
        transform: translate(-1.5%, -1.5%);
        background-color: #343a40;
    }

#returnMapButton {
    border-radius: 5px;
    background-color: mediumseagreen;
    border: solid black 1px;
    position: absolute;
    top: 7%;
    left: 0.5%;
    z-index: 999999;
    outline: none;
    height: 35px;
    width: 35px;
}

    #returnMapButton:active {
        height: 36px;
        width: 36px;
        transform: translate(-1.5%, -1.5%);
        background-color: #343a40;
    }

#returnMap {
    position: inherit;
    left: 27.5%;
    top: 27.5%;
    height: 15px;
    width: 15px;
}

#zoomMinus {
    cursor: pointer;
    border-radius: 5px;
    background-color: mediumseagreen;
    border: solid black 1px;
    position: absolute;
    top: 13%;
    left: 0.5%;
    z-index: 999999;
    outline: none;
    height: 35px;
    width: 35px;
}

    #zoomMinus:active {
        height: 36px;
        width: 36px;
        transform: translate(-1.5%, -1.5%);
        background-color: #343a40;
    }
