@import "switch.css";
@import "map.css";
@import "chart.css";
body {
    background-color: #333333;
    display: block;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar:hover {
    display: block;
}
