@{
    ViewData["Title"] = "Home Page";
}

<h2>Home</h2>

<form asp-action="Index" class="form-horizontal">
    <div class="col-md-3">
        <button type="submit" name="Action" class="btn btn-default" value="Init">Init</button>
    </div>
    <div class="col-md-3">
        <button type="submit" name="Action" class="btn btn-default" value="Update">Update</button>
    </div>
</form>
